<div *ngIf="character">
  <p>name: {{character?.name}}</p>
  <p>description: {{character?.description}}</p>
  <button mat-button color="primary" [routerLink]="['/characters/' + character.id + '/series']">Series</button>
  <button mat-button color="primary" [routerLink]="['/characters/' + character.id + '/comics']">Comics</button>
  <button mat-button color="primary" [routerLink]="['/characters/' + character.id + '/events']">Events</button>
  <button mat-button color="primary" [routerLink]="['/characters/' + character.id + '/stories']">Stories</button>
</div>
